Repository prettyirrelevant/bridgebloc: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, contracts

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

flags:
  backend:
    carryforward: true
    paths:
      - "./backend"
  frontend:
    carryforward: true
    paths:
      - "./frontend"
  contracts:
    carryforward: true
    paths:
      - "./contracts"

started smart contract
  contracts/.gitignore
  contracts/README.md
  contracts/hardhat.config.ts
  contracts/scripts/deploy.ts
  contracts/test/Lock.ts
  contracts/tsconfig.json
  contracts/yarn.lock
Due: contracts

modified package.json
  contracts/package.json
Due: contracts

added interfaces
  contracts/contracts/interfaces/IMessageTransmitter.sol
  contracts/contracts/interfaces/ITokenMessenger.sol
Due: contracts

added bridge contract
  contracts/config.txt
  contracts/contracts/Bridge.sol
  contracts/contracts/libraries/BridgeHelper.sol
Due: contracts

added tokens endpoint and account model
  backend/.pylintrc
  backend/bridgebloc/apps/accounts/__init__.py
  backend/bridgebloc/apps/accounts/admin.py
  backend/bridgebloc/apps/accounts/apps.py
  backend/bridgebloc/apps/accounts/migrations/0001_initial.py
  backend/bridgebloc/apps/accounts/migrations/__init__.py
  backend/bridgebloc/apps/accounts/models.py
  backend/bridgebloc/apps/accounts/views.py
  backend/bridgebloc/apps/core/urls.py
  backend/bridgebloc/apps/core/views.py
  backend/bridgebloc/apps/tokens/__init__.py
  backend/bridgebloc/apps/tokens/admin.py
  backend/bridgebloc/apps/tokens/apps.py
  backend/bridgebloc/apps/tokens/management/__init__.py
  backend/bridgebloc/apps/tokens/management/commands/__init__.py
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
  backend/bridgebloc/apps/tokens/migrations/0001_initial.py
  backend/bridgebloc/apps/tokens/migrations/__init__.py
  backend/bridgebloc/apps/tokens/models.py
  backend/bridgebloc/apps/tokens/serializers.py
  backend/bridgebloc/apps/tokens/static/images/dai.png
  backend/bridgebloc/apps/tokens/static/images/matic-network.png
  backend/bridgebloc/apps/tokens/static/images/tether.png
  backend/bridgebloc/apps/tokens/static/images/usd-coin.png
  backend/bridgebloc/apps/tokens/static/images/weth.png
  backend/bridgebloc/apps/tokens/tests.py
  backend/bridgebloc/apps/tokens/urls.py
  backend/bridgebloc/apps/tokens/views.py
  backend/bridgebloc/common/fields.py
  backend/bridgebloc/common/models.py
  backend/bridgebloc/common/types.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/conf/urls.py
  backend/bridgebloc/docs/schema.yml
  backend/bridgebloc/evm/__init__.py
  backend/poetry.lock
  backend/pyproject.toml
Due: backend

Event Addresses Indexed and Dynamic Swap Fee
  contracts/contracts/Bridge.sol
Due: contracts

Renamed Folder
  contracts/cctp-contracts/Bridge.sol
  contracts/cctp-contracts/interfaces/IMessageTransmitter.sol
  contracts/cctp-contracts/interfaces/ITokenMessenger.sol
  contracts/cctp-contracts/libraries/BridgeHelper.sol
  contracts/package-lock.json
  contracts/yarn.lock
Due: contracts

Implemented LxLy Contract
  contracts/LxLy-contracts/contracts/Bridge.sol
  contracts/LxLy-contracts/contracts/interfaces/WETH.sol
  contracts/LxLy-contracts/contracts/libraries/PolygonBridgeLib.sol
  contracts/LxLy-contracts/contracts/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/LxLy-contracts/contracts/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/LxLy-contracts/contracts/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/LxLy-contracts/contracts/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/LxLy-contracts/contracts/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/LxLy-contracts/contracts/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
Due: contracts

started tests
  contracts/cctp-contracts/Bridge.sol
  contracts/test/Bridge.ts
  contracts/test/Lock.ts
Due: contracts

applied proper indexes to events
  contracts/cctp-contracts/Bridge.sol
Due: contracts

resolve token_fee type discrepancies
  contracts/cctp-contracts/Bridge.sol
Due: contracts

moved things around
  contracts/LxLy/Bridge.sol
  contracts/LxLy/interfaces/WETH.sol
  contracts/LxLy/libraries/PolygonBridgeLib.sol
  contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
  contracts/cctp/Bridge.sol
  contracts/cctp/interfaces/IMessageTransmitter.sol
  contracts/cctp/interfaces/ITokenMessenger.sol
  contracts/cctp/libraries/BridgeHelper.sol
Due: contracts

refactored deposit method for cctp contracts
  contracts/LxLy/libraries/PolygonBridgeLib.sol
  contracts/cctp/Bridge.sol
Due: contracts

added comments
  contracts/cctp/Bridge.sol
Due: contracts

moved lxly and cctp into contracts folder
  contracts/contracts/LxLy/Bridge.sol
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/LxLy/libraries/PolygonBridgeLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/cctp/Bridge.sol
  contracts/contracts/cctp/interfaces/IMessageTransmitter.sol
  contracts/contracts/cctp/interfaces/ITokenMessenger.sol
  contracts/contracts/cctp/libraries/BridgeHelper.sol
Due: contracts

fixed errors on lxly contracts
  contracts/LxLy/Bridge.sol
  contracts/LxLy/interfaces/WETH.sol
  contracts/LxLy/libraries/PolygonBridgeLib.sol
  contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/Bridge.sol
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
Due: contracts

refactored supported token struct
  contracts/cctp/Bridge.sol
  contracts/cctp/interfaces/IMessageTransmitter.sol
  contracts/cctp/interfaces/ITokenMessenger.sol
  contracts/cctp/libraries/BridgeHelper.sol
  contracts/contracts/cctp/Bridge.sol
  contracts/contracts/cctp/libraries/BridgeHelper.sol
Due: contracts

added supported tokens tests
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/Bridge.ts
  contracts/test/Lock.ts
  contracts/yarn.lock
Due: contracts

added tests for removing and adding admins
  contracts/contracts/cctp/Bridge.sol
  contracts/test/Bridge.ts
Due: contracts

completed tests for token deposit[usdc]
  contracts/contracts/cctp/Bridge.sol
  contracts/contracts/cctp/interfaces/ITokenMessenger.sol
  contracts/test/Bridge.ts
Due: contracts

removed lxly contracts
  contracts/contracts/LxLy/Bridge.sol
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/LxLy/libraries/PolygonBridgeLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
Due: contracts

added cctp contracts (#1)
  contracts/.gitignore
  contracts/README.md
  contracts/config.txt
  contracts/contracts/cctp/Bridge.sol
  contracts/contracts/cctp/interfaces/IMessageTransmitter.sol
  contracts/contracts/cctp/interfaces/ITokenMessenger.sol
  contracts/contracts/cctp/libraries/BridgeHelper.sol
  contracts/hardhat.config.ts
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/deploy.ts
  contracts/test/Bridge.ts
  contracts/tsconfig.json
  contracts/yarn.lock
Due: contracts

LxLy Done and Tested
  contracts/config/lxly.ts
  contracts/contracts/LxLy/Bridge.sol
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/LxLy/libraries/PolygonBridgeLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
  contracts/hardhat.config.ts
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/lxly.ts
  contracts/test/LxLyBridge.ts
  contracts/yarn.lock
Due: contracts

initial attempt at circle-api conversion method
  .gitignore
  backend/bridgebloc/apps/accounts/authentication.py
  backend/bridgebloc/apps/accounts/migrations/0001_initial.py
  backend/bridgebloc/apps/accounts/models.py
  backend/bridgebloc/apps/accounts/tests/__init__.py
  backend/bridgebloc/apps/accounts/tests/test_views.py
  backend/bridgebloc/apps/accounts/urls.py
  backend/bridgebloc/apps/accounts/views.py
  backend/bridgebloc/apps/conversions/__init__.py
  backend/bridgebloc/apps/conversions/admin.py
  backend/bridgebloc/apps/conversions/apps.py
  backend/bridgebloc/apps/conversions/constants.py
  backend/bridgebloc/apps/conversions/migrations/0001_initial.py
  backend/bridgebloc/apps/conversions/migrations/__init__.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/permissions.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/types.py
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/utils.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/apps/core/views.py
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
  backend/bridgebloc/apps/tokens/migrations/0001_initial.py
  backend/bridgebloc/apps/tokens/models.py
  backend/bridgebloc/apps/tokens/serializers.py
  backend/bridgebloc/apps/tokens/urls.py
  backend/bridgebloc/common/fields.py
  backend/bridgebloc/common/helpers.py
  backend/bridgebloc/common/types.py
  backend/bridgebloc/common/views.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/conf/urls.py
  backend/bridgebloc/evm/types.py
  backend/bridgebloc/services/__init__.py
  backend/bridgebloc/services/circle.py
Due: backend

add railway setup and testnet tokens script
  backend/Procfile
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
  backend/start.sh
Due: backend

make linters happy
  backend/.pylintrc
  backend/bridgebloc/apps/accounts/tests/test_views.py
  backend/bridgebloc/apps/accounts/views.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
  backend/bridgebloc/common/types.py
  backend/bridgebloc/services/circle.py
  backend/poetry.lock
Due: backend

update ci secrets
  .github/workflows/ci.yml
Due: none

add migrations
  backend/bridgebloc/apps/accounts/migrations/0001_initial.py
  backend/bridgebloc/apps/accounts/migrations/__init__.py
  backend/bridgebloc/apps/conversions/migrations/0001_initial.py
  backend/bridgebloc/apps/tokens/migrations/0001_initial.py
  backend/bridgebloc/apps/tokens/migrations/__init__.py
Due: backend

fix cors error in swagger docs in production
  backend/bridgebloc/common/openapi.py
  backend/bridgebloc/conf/urls.py
Due: backend

fix cors error in swagger docs in production (#3)
  backend/bridgebloc/common/openapi.py
  backend/bridgebloc/conf/urls.py
Due: backend

add missing endpoints and auth classes
  backend/bridgebloc/apps/accounts/serializers.py
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/migrations/0001_initial.py
  backend/bridgebloc/apps/conversions/migrations/__init__.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/common/views.py
  backend/bridgebloc/conf/settings.py
Due: backend

add migration for conversions
  backend/bridgebloc/apps/conversions/migrations/0001_initial.py
  backend/bridgebloc/apps/conversions/migrations/__init__.py
Due: backend

add missing endpoints and auth classes (#4)
  backend/bridgebloc/apps/accounts/serializers.py
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/migrations/0001_initial.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/common/views.py
  backend/bridgebloc/conf/settings.py
Due: backend

add LxLy contracts (#5)
  contracts/config/lxly.ts
  contracts/contracts/LxLy/Bridge.sol
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/LxLy/libraries/PolygonBridgeLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
  contracts/hardhat.config.ts
  contracts/package-lock.json
  contracts/package.json
  contracts/scripts/lxly.ts
  contracts/test/LxLyBridge.ts
  contracts/yarn.lock
Due: contracts

added sourceToken to cctp bridge contract
  contracts/contracts/cctp/Bridge.sol
Due: contracts

Added dependency Libraries
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/DepositContract.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/EmergencyManager.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/GlobalExitRootLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/TokenWrapped.sol
Due: contracts

Added Dependency Libraries for LxLy (#7)
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/DepositContract.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/EmergencyManager.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/GlobalExitRootLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/TokenWrapped.sol
Due: contracts
