Repository prettyirrelevant/bridgebloc: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, contracts

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

flags:
  backend:
    carryforward: true
    paths:
      - "./backend"
  frontend:
    carryforward: true
    paths:
      - "./frontend"
  contracts:
    carryforward: true
    paths:
      - "./contracts"

Added event to LxLy bridging
  backend/bridgebloc/apps/accounts/authentication.py
  backend/bridgebloc/apps/accounts/permissions.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/evm/types.py
  contracts/contracts/LxLy/Bridge.sol
Due: backend, contracts

cctp & lxly backend implementation (#8)
  backend/.pylintrc
  backend/Procfile
  backend/bridgebloc/apps/accounts/tests/__init__.py
  backend/bridgebloc/apps/accounts/tests/test_views.py
  backend/bridgebloc/apps/conversions/apps.py
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/migrations/0002_alter_tokenconversionstep_step_type.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/utils.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/apps/tokens/models.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/evm/abis/CrossChainBridge.abi
  backend/bridgebloc/evm/abis/PolygonZkEVMBridge.abi
  backend/bridgebloc/evm/abis/RollupBridge.abi
  backend/bridgebloc/evm/abis/TokenMessenger.abi
  backend/bridgebloc/evm/aggregator.py
  backend/bridgebloc/evm/client.py
  backend/bridgebloc/evm/constants.py
  backend/bridgebloc/evm/types.py
  backend/bridgebloc/services/attestation.py
  backend/bridgebloc/services/lxly_merkle_proof.py
  backend/pyproject.toml
Due: backend

lint LxLy contract and heroku setup
  backend/Procfile
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
  backend/bridgebloc/common/views.py
  backend/bridgebloc/evm/abis/CrossChainBridge.abi
  backend/bridgebloc/evm/abis/RollupBridge.abi
  backend/poetry.lock
  backend/pyproject.toml
  contracts/contracts/LxLy/Bridge.sol
Due: backend, contracts

cctp-bridge tests
  .github/workflows/ci.yml
  contracts/.gitignore
  contracts/Makefile
  contracts/config.txt
  contracts/config/cctp.ts
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/cctp/Bridge.sol
  contracts/contracts/cctp/interfaces/IAvaxSwapRouter.sol
  contracts/contracts/cctp/interfaces/IOneSplit.sol
  contracts/deployment-addresses.txt
  contracts/hardhat-arb-fork.config.ts
  contracts/hardhat-avax-fork.config.ts
  contracts/hardhat-goerli-fork.config.ts
  contracts/hardhat.config.ts
  contracts/supported-tokens.json
  contracts/test/cctp-bridge-arb.spec.ts
  contracts/test/cctp-bridge-avax.spec.ts
  contracts/test/cctp-bridge-eth.spec.ts
Due: contracts

use proper crontab config
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

fix circle service get_payment_intent
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/services/circle.py
Due: backend

fix bug in circle deposit confirmation task
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

handle missing address in payment intent response
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

add endpoint to add tx hash for circle deposit
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/common/views.py
Due: backend

integration tests
  contracts/contracts/cctp/interfaces/IMessageTransmitter.sol
  contracts/deployment-addresses.txt
  contracts/package.json
  contracts/scripts/integration-test.ts
  contracts/test/cctp-bridge-arb.spec.ts
  contracts/yarn.lock
Due: contracts

update circle background tasks
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

fixed ci tests
  .github/workflows/ci.yml
Due: none

bugfixes
  backend/bridgebloc/apps/conversions/migrations/0001_initial.py
  backend/bridgebloc/apps/conversions/migrations/0002_alter_tokenconversionstep_step_type.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
  backend/bridgebloc/evm/client.py
  backend/bridgebloc/services/attestation.py
  backend/bridgebloc/services/circle.py
  contracts/Makefile
  contracts/scripts/lxly.ts
Due: backend, contracts

LxLy Fixes
  contracts/config/abi/ISwapRouter.json
  contracts/config/lxly.ts
  contracts/contracts/LxLy/Bridge.sol
  contracts/contracts/LxLy/interfaces/ISwapRouter.sol
  contracts/hardhat.config.ts
  contracts/package-lock.json
  contracts/test/lxly-bridge.spec.ts
  contracts/yarn.lock
Due: contracts

Update hardhat.config.ts
  contracts/hardhat.config.ts
Due: contracts

update readme
  .github/bridgebloc.png
  README.md
Due: none

LxLy on eth
  contracts/config/lxly.ts
  contracts/contracts/LxLy/ethBridge.sol
  contracts/hardhat.config.ts
  contracts/scripts/lxly.ts
  contracts/test/lxly-bridge-eth.spec.ts
Due: contracts

update readme, fee structure and allow only testnet via circle api
  README.md
  backend/.pylintrc
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/services/attestation.py
  backend/start.sh
Due: backend

added bridge withdrawal tests
  contracts/test/cctp-bridge-arb.spec.ts
  contracts/test/cctp-bridge-avax.spec.ts
  contracts/test/cctp-bridge-eth.spec.ts
Due: contracts

new testnet deployments for cctp and lxly contracts
  contracts/README.md
  contracts/deployment-addresses.txt
  contracts/hardhat.config.ts
  contracts/scripts/lxly.ts
Due: contracts

added withdrawal method to cctp bridge
  contracts/contracts/cctp/Bridge.sol
Due: contracts

update abi for rollup bridge
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/evm/abis/RollupBridge.abi
Due: backend

add serializer for circle api tx hash update view
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/views.py
Due: backend

comment out unneeded check
  backend/bridgebloc/apps/conversions/serializers.py
Due: backend

mainnet deployment[arbitrum/avalanche
  contracts/.gitignore
  contracts/config/cctp.ts
  contracts/deployment-addresses.txt
  contracts/scripts/deploy-cctp.ts
  contracts/scripts/lxly.ts
Due: contracts

fix bug in lxly background task
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

added smart contracts to readme
  README.md
Due: none

update readme and lxly background job
  README.md
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

fix typo in readme
  README.md
Due: none

quick fix
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

chore: fix lxly contracts call & bg jobs
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/utils.py
Due: backend

chore: fix minor bugs in bg tasks
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/services/circle.py
Due: backend

Update fetch_tokens.py
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
Due: backend

update gitignore
  .gitignore
Due: none

switch from poetry to uv
  backend/.python-version
  backend/poetry.lock
  backend/pyproject.toml
  backend/uv.lock
Due: backend

remove lxly support and polygon zkevm
  backend/bridgebloc/apps/conversions/constants.py
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/migrations/0001_initial.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/types.py
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/utils.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/evm/abis/PolygonZkEVMBridge.abi
  backend/bridgebloc/evm/abis/RollupBridge.abi
  backend/bridgebloc/evm/aggregator.py
  backend/bridgebloc/evm/client.py
  backend/bridgebloc/evm/types.py
  backend/bridgebloc/services/lxly_merkle_proof.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend

add support for other emv chains and remove circle api support
  backend/Makefile
  backend/bridgebloc/apps/conversions/apps.py
  backend/bridgebloc/apps/conversions/constants.py
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/types.py
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/utils.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/apps/tokens/management/commands/fetch_tokens.py
  backend/bridgebloc/apps/tokens/models.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/evm/aggregator.py
  backend/bridgebloc/evm/types.py
  backend/bridgebloc/services/circle.py
Due: backend

add env example
  .gitignore
  backend/.env.example
Due: backend
