Repository prettyirrelevant/bridgebloc: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, contracts

.codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

flags:
  backend:
    carryforward: true
    paths:
      - "./backend"
  frontend:
    carryforward: true
    paths:
      - "./frontend"
  contracts:
    carryforward: true
    paths:
      - "./contracts"

fixes and testing
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/PolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBasePolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IBridgeMessageReceiver.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMBridge.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/interfaces/IPolygonZkEVMGlobalExitRoot.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/DepositContract.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/EmergencyManager.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/GlobalExitRootLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/TokenWrapped.sol
  contracts/contracts/cctp/Bridge.sol
  contracts/hardhat.config.ts
  contracts/test/Bridge.ts
Due: contracts

added smart contract test ci
  contracts/hardhat.config.ts
Due: contracts

added ci
  .github/workflows/ci.yml
Due: none

fixed smart contracts ci
  .github/workflows/ci.yml
Due: none

fixed contract ci
  .github/workflows/ci.yml
Due: none

added deployment configs
  contracts/config/cctp.ts
Due: contracts

added tests for weth bridging
  contracts/contracts/LxLy/interfaces/WETH.sol
  contracts/contracts/cctp/Bridge.sol
  contracts/hardhat.config.ts
  contracts/test/Bridge.ts
  contracts/test/LxLyBridge.ts
Due: contracts

added deployment scripts
  contracts/Makefile
  contracts/config.txt
  contracts/config/cctp.ts
  contracts/deployment-addresses.txt
  contracts/hardhat-arb-fork.config.ts
  contracts/hardhat-arb-testnet-fork.config.ts
  contracts/hardhat-eth-fork.config.ts
  contracts/hardhat-goerli-fork.config.ts
  contracts/hardhat.config.ts
  contracts/scripts/deploy-cctp.ts
  contracts/scripts/deploy.ts
  contracts/test/cctp-bridge.spec.ts
  contracts/test/lxly-bridge.spec.ts
Due: contracts

fixed ci
  .github/workflows/ci.yml
Due: none

remove nonce usage
  backend/bridgebloc/apps/accounts/authentication.py
  backend/bridgebloc/apps/accounts/urls.py
  backend/bridgebloc/apps/accounts/views.py
  backend/bridgebloc/conf/urls.py
Due: backend

remove nonce usage (#10)
  backend/bridgebloc/apps/accounts/authentication.py
  backend/bridgebloc/apps/accounts/urls.py
  backend/bridgebloc/apps/accounts/views.py
  backend/bridgebloc/conf/urls.py
Due: backend

force build
  backend/pyproject.toml
Due: backend

Added event to LxLy bridging
  contracts/contracts/LxLy/Bridge.sol
Due: contracts

Update authentication.py
  backend/bridgebloc/apps/accounts/authentication.py
Due: backend

make `IsAuthenticated` to use `Account` model
  backend/bridgebloc/apps/accounts/permissions.py
  backend/bridgebloc/apps/conversions/views.py
Due: backend

move account retrieval down
  backend/bridgebloc/apps/accounts/authentication.py
Due: backend

create ChainID from name
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/evm/types.py
Due: backend

fix little bug
  backend/bridgebloc/apps/conversions/views.py
Due: backend

remove background job from circle api bridge creation
  backend/bridgebloc/apps/conversions/views.py
Due: backend

stashing progress
  backend/.pylintrc
  backend/bridgebloc/apps/conversions/apps.py
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/evm/abis/CrossChainBridge.abi
  backend/bridgebloc/evm/abis/TokenMessenger.abi
  backend/bridgebloc/evm/aggregator.py
  backend/bridgebloc/evm/client.py
  backend/bridgebloc/evm/constants.py
  backend/bridgebloc/evm/types.py
  backend/pyproject.toml
Due: backend

cctp backend impl almost done
  backend/bridgebloc/apps/accounts/tests/__init__.py
  backend/bridgebloc/apps/accounts/tests/test_views.py
  backend/bridgebloc/apps/conversions/apps.py
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/models.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/utils.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/apps/tokens/models.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/evm/aggregator.py
  backend/bridgebloc/evm/client.py
  backend/bridgebloc/services/attestation.py
Due: backend

minor cleanup
  backend/bridgebloc/apps/conversions/views.py
Due: backend

update procfile
  backend/Procfile
Due: backend

lxly complete
  backend/Procfile
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/views.py
Due: backend

lxly almost done
  backend/bridgebloc/apps/conversions/enums.py
  backend/bridgebloc/apps/conversions/serializers.py
  backend/bridgebloc/apps/conversions/tasks.py
  backend/bridgebloc/apps/conversions/urls.py
  backend/bridgebloc/apps/conversions/utils.py
  backend/bridgebloc/apps/conversions/views.py
  backend/bridgebloc/conf/settings.py
  backend/bridgebloc/evm/abis/CrossChainBridge.abi
  backend/bridgebloc/evm/abis/PolygonZkEVMBridge.abi
  backend/bridgebloc/evm/abis/RollupBridge.abi
  backend/bridgebloc/evm/abis/TokenMessenger.abi
  backend/bridgebloc/evm/client.py
  backend/bridgebloc/evm/types.py
  backend/bridgebloc/services/attestation.py
  backend/bridgebloc/services/lxly_merkle_proof.py
Due: backend

added migration for cctp steps
  backend/bridgebloc/apps/conversions/migrations/0002_alter_tokenconversionstep_step_type.py
Due: backend

add success status
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

add evm aggregator to tasks module
  backend/bridgebloc/apps/conversions/tasks.py
Due: backend

Added Dependency Libraries for LxLy (#7)
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/DepositContract.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/EmergencyManager.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/GlobalExitRootLib.sol
  contracts/contracts/LxLy/polygonZKEVMContracts/libraries/TokenWrapped.sol
Due: contracts

remove nonce usage (#10)
  backend/bridgebloc/apps/accounts/authentication.py
  backend/bridgebloc/apps/accounts/urls.py
  backend/bridgebloc/apps/accounts/views.py
  backend/bridgebloc/conf/urls.py
  backend/pyproject.toml
Due: backend
